<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your notes&hellip;"></textarea>
    <input type="submit" value="Take Note!">
  </form>
</section>

<% # display notes %>